toolbarbutton.kakusu-toolbarbutton,
window:not([active="true"]) toolbarbutton.kakusu-toolbarbutton {
	list-style-image: url("chrome://kakusu/skin/icon24.png");
}

toolbar#toolbar-menubar > toolbarbutton.kakusu-toolbarbutton {
	/* -moz-appearance: none; */
	list-style-image: url("chrome://kakusu/skin/icon16.png");
}

#kakusu-statusbarpanel	{
	list-style-image: url("chrome://kakusu/skin/icon16.png");
}

toolbar[iconsize="small"] #kakusu-button {
	list-style-image: url("chrome://kakusu/skin/icon16.png");
}

#kakusu-button[cui-areatype="menu-panel"] {
	list-style-image: url("chrome://kakusu/skin/icon32.png");
}
